{% extends 'base.html.twig' %}

{% block title %}Categorie Article{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: white;
        }
        h1{
            color: #5e9ca0;
            text-align: center;
        }
        p{
            color: black;
        }
        a{
            color: #2e6c80;
        }
        label{
            color: black;
        }
    </style>
{% endblock %}

{% block javascriptsl %}{% endblock %}
{% block body %}
    <h1>Categorie Article </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_cat</th>
                <th>Archived</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_article in categorie_articles %}
            <tr>
                <td>{{ categorie_article.id }}</td>
                <td>{{ categorie_article.libelleCat }}</td>
                <td>{{ categorie_article.archived ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_categorie_article_show', {'id': categorie_article.id}) }}">details</a>
                    <a href="{{ path('app_categorie_article_edit', {'id': categorie_article.id}) }}">edit</a>

                    {{ include('categorie_article/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_article_new') }}">Create new</a>
{% endblock %}
