{% extends 'base.html.twig' %}

{#  % block body %}
    <h1>modifier la Reponse</h1>
    {{ form_start(formUr) }}
    {{ form_row(formUr.titre_reponse) }}
    {{ form_row(formUr.description_reponse) }}
    {{ form_row(formUr.modifier) }}
    {{ form_end(formUr) }}
{% endblock %}#}



{% block stylesheets %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/flag-icons.css') }}" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/core-dark.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/theme-default-dark.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}" />

    <!-- Vendors CSS -->
    <style>
        .table-responsive {
            overflow-x: auto;
        }
        /* custom css that makes the table cell wrap if the text exceeds the cell length*/
        .table-responsive td {
            white-space: normal;
            text-align: justify;
        }
        ::-moz-selection { /* Code for Firefox */
            background: yellow;
        }

        ::selection {
            background: yellow;
        }
        #chose{
            width:25px;

        }

        /*make the card the width of the screen available*/

    </style>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/vendor/js/helpers.js') }}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{{ asset('public/assets/vendor/js/template-customizer.js') }}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('assets/js/config.js') }}"></script>
    <script>



    </script>
{% endblock %}
{% block body %}

    <!-- Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                {{ include('Dashboard_components/_menuDashboard.html.twig') }}
            </aside>

            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">

                <!-- Navbar -->
                {{ include('Dashboard_components/_navbarDashboard.html.twig') }}
                <!-- / Navbar -->
                <div class="container-xxl flex-grow-1 container-p-y">

                    <div class="content-wrapper">
                        <!-- Content -->
                        <hr class="my-5">

                        <div class="row">
                            <div class="col-xl">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">modifier la Reponse </h5>
                                    </div>
                                    <div class="card-body">
                                        {{ form_start(formUr,{'attr': {'novalidate': 'novalidate'}} ) }}


                                        <div class="mb-3">
                                            <label class="form-label" for="basic-default-fullname">Full Name</label>

                                            {{ form_widget(formUr.titre_reponse, {'attr': {'class': 'form-control','id':'basic-default-fullname', 'placeholder': 'Titre reclamation'}}) }}
                                            {{ form_errors(formUr.titre_reponse)}}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-default-message">Description</label>

                                            {{ form_widget(formUr.description_reponse, {'attr': {'class': 'form-control','id':'basic-default-message', 'placeholder': 'Description reclamation'}}) }}
                                            {{ form_errors(formUr.description_reponse)}}
                                        </div>
                                        {{ form_widget(formUr.modifier , {'attr': {'class': 'btn btn-primary'}}) }}


                                        {{ form_end(formUr) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{{ asset('/assets/vendor/libs/jquery/jquery.js') }}"></script>

    <script src="{{ asset('/assets/vendor/libs/popper/popper.js') }}"></script>

    <script src="{{ asset('/assets/vendor/js/bootstrap.js') }}"></script>

    <script src="{{ asset('/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    <script src="{{ asset('/assets/vendor/libs/hammer/hammer.js') }}"></script>

    <script src="{{ asset('/assets/vendor/libs/i18n/i18n.js') }}"></script>

    <script src="{{ asset('/assets/vendor/libs/typeahead-js/typeahead.js') }}"></script>

    <script src="{{ asset('/assets/vendor/js/menu.js') }}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{{asset('/assets/js/maindash.js') }}"></script>

    <!-- Page JS -->

    <script>
    </script>

{% endblock %}

