{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.adresse) }}

    {{ form_row(form.password) }}

    {{ form_row(form.date_naissance) }}
    {{ form_row(form.roles) }}



    <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
