{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Blog{% endblock %}
{% block stylesheets %}
    <style>
        /*STAR RATING HOVER*/

        .hover {
            color: yellow !important;
        }

    </style>
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome.css') }}" />


    {#SWEET ALERT CSS#}
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/animate-css/animate.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/sweetalert2/sweetalert2.css') }}" />

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendor/js/helpers.js') }}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{{ asset('public/assets/vendor/js/template-customizer.js') }}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('assets/js/config.js') }}"></script>
    <script>

    </script>
{% endblock %}
{% block body %}
{#    {% for message in app.flashes('voteSuccess') %}
        <div class="bs-toast toast toast-ex animate__animated my-2 fade animate__fadeIn bg-success opacity-75" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="toast-header">
                <i class='bx bxs-trash me-2'></i>
                <div class="me-auto fw-semibold">Succées</div>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    {% endfor %}#}
<!-- Scroll-top -->
<button class="scroll__top scroll-to-target" data-target="html">
    <i class="flaticon-right-arrow"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
{{ include('front_components/_header-menu-front.html.twig') }}
<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb__hide-img" data-background="{{ asset('assets/img/bg/breadcrumb_bg02.jpg') }}">
    <div class="container">
        <div class="breadcrumb__wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb__content">
                        <h2 class="title UnitedKingdom">Article Details</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">blog details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- blog-area -->
<section class="blog-area blog-details-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="blog-post-wrapper">
                <div class="blog-post-item">
                    <div class="blog-post-thumb">
{#                        <img src="{{ asset('assets/img/blog/blog_post03.jpg') }}" alt="img">#}
                        <img src="{{ vich_uploader_asset(article,'imageFile') }}" alt="img">
                    </div>
                    <div class="blog-post-content blog-details-content">
                        <div class="blog-post-meta">
                            <ul class="list-wrap d-flex justify-content-around">
                                <li><i class="fa-regular fa-user"></i> By<a href="#">{{ article.auteur }}</a></li>
                                <li><i class="fa-regular fa-calendar-days"></i>{{ article.ago }}{#{{ article.datePublication|date('d-M-Y') }}#}</li>
                                <li>
                                  {#  <i class="fa-solid fa-star"></i>
                                    #}{# add article rating form#}
                                    {{ include('article_ratings/_form.html.twig') }}
                                </li>
                                <li  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Your vote">
                                    <i class="fa-solid fa-check-to-slot"></i>
                                    {{ userVote|raw }}
                                </li>
                            </ul>
                        </div>
                        <h2 class="title">{{ article.titre }}</h2>
                        <div>{{ article.description }}</div>
                    {#    <blockquote>
                            <p>{{ article.description }}</p>
                        </blockquote>#}
                        {{ article.contenu|raw }}

                        <div class="blog-details-bottom">
                            <div class="row">
                                <div class="col-xl-6 col-md-7">
                                    <div class="tg-post-tags">
                                        <h5 class="tags-title">tags :</h5>
                                        <ul class="list-wrap d-flex flex-wrap align-items-center m-0">
                                            <li><a href="#">Esports</a>,</li>
                                            <li><a href="#">Fantasy</a>,</li>
                                            <li><a href="#">game</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-5">
                                    <div class="blog-post-share justify-content-start justify-content-md-end">
                                        <h5 class="share">share :</h5>
                                        <ul class="list-wrap">
                                            <li><a href="https://www.facebook.com/sharer/sharer.php?u=#url" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=http://www.google.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__avatar-wrap mb-65">
                    <div class="blog__avatar-img">
                        <a href="#"><img src="/images/articles/{{ auteurAvatarUrl }}" alt="img"></a>
                    </div>
                    <div class="blog__avatar-info">
                        <span class="designation">Written by</span>
                        <h4 class="name"><a href="#">{{ article.auteur }}</a></h4>
                        <p>{{ authorDescription }}</p>
                    </div>
                </div>
                <div class="comments-wrap">
                    <h4 class="comments-wrap-title">3 Comments</h4>
                    <div class="latest-comments">
                        <ul class="list-wrap">
                            <li>
                                <div class="comments-box">
                                    <div class="comments-avatar">
                                        <img src="{{ asset('assets/img/blog/comment01.png') }}" alt="img">
                                    </div>
                                    <div class="comments-text">
                                        <div class="avatar-name">
                                            <h6 class="name">John William <a href="#" class="comment-reply-link"><i class="fas fa-reply"></i> Reply</a></h6>
                                            <span class="date">September 6, 2023</span>
                                        </div>
                                        <p>Axcepteur sint occaecat atat non proident, sunt culpa officia deserunt mollit anim id est labor umLor emdolor uni enim ad minim veniam quis nostrud today.</p>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li>
                                        <div class="comments-box">
                                            <div class="comments-avatar">
                                                <img src="{{ asset('assets/img/blog/comment02.png') }}" alt="img">
                                            </div>
                                            <div class="comments-text">
                                                <div class="avatar-name">
                                                    <h6 class="name">Hanry Foul <a href="#" class="comment-reply-link"><i class="fas fa-reply"></i> Reply</a></h6>
                                                    <span class="date">September 6, 2023</span>
                                                </div>
                                                <p>Axcepteur sint occaecat atat non proident, sunt culpa officia deserunt mollit anim id est labor enim ad minim veniam quis nostrud today.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comments-box">
                                    <div class="comments-avatar">
                                        <img src="{{ asset('assets/img/blog/comment03.png') }}" alt="img">
                                    </div>
                                    <div class="comments-text">
                                        <div class="avatar-name">
                                            <h6 class="name">Luna Rose <a href="#" class="comment-reply-link"><i class="fas fa-reply"></i> Reply</a></h6>
                                            <span class="date">September 6, 2023</span>
                                        </div>
                                        <p>Axcepteur sint occaecat atat non proident, sunt culpa officia deserunt mollit anim id est labor umLor emdolor eam enim ad minim veniam quis nostrud today.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="comment-respond">
                    <h3 class="comment-reply-title">Leave a Reply</h3>
                    <form class="comment-form" action="#">
                        <p class="comment-notes">Email address will not be published. Required fields are marked *</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-grp">
                                    <input type="text" placeholder="Name *">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-grp">
                                    <input type="email" placeholder="Email *">
                                </div>
                            </div>
                        </div>
                        <div class="form-grp">
                            <textarea name="message" placeholder="Comment *"></textarea>
                        </div>
                        <button>Post Comment</button>
                    </form>
                </div>
            </div>
            <!-- blog post sidebar -->
            <div class="blog-post-sidebar">
                <aside class="blog-sidebar">
                    <div class="blog-widget">
                        <div class="sidebar__author">
                            <div class="sidebar__author-thumb">
                                <img src="/images/articles/{{ authorPicture }}" alt="img">
                            </div>
                            <div class="sidebar__author-content " style="overflow-wrap: break-word;
  word-wrap: break-word;">
                                <h4 class="name">{{ article.auteur }}</h4>

                                {#p tag that wraps if exceeds the div width#}
                                <p class="designation overflow-hidden">{{ authorDescription }}</p>
                                <div class="sidebar__author-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ include('article_front/_blog-post-sidebar.html.twig') }}
                </aside>
            </div>
            <!--/// sidebar-area-end -->
        </div>
    </div>
</section>
<!-- blog-area-end -->

</main>
<!-- main-area-end -->

    <!-- footer-start -->
    {{ include('front_components/_footer-front.html.twig') }}
    <!-- footer-start-end -->



    <!-- JS here -->    <!-- JS here -->

    <!-- 💁 Include both scripts below to support all browsers! -->

    <!-- Loads <model-viewer> for modern browsers: -->
    <script type="module"
            src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
    </script>

    <!-- Loads <model-viewer> for old browsers like IE11: -->
    <script nomodule
            src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
    </script>

    <script src="{{ asset('assets/js/vendor/jquery-3.6.0.min.js')  }}"></script>
    <script src="{{ asset('assets/js/plugins.js') }}"></script>
    <script src="{{ asset('assets/js/ajax-form.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <script src="{{ asset('assets/js/customStarRating.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script>
        window.onload = function() {
            setTimeout(function() {
                var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                var toastList = toastElList.map(function (toastEl) {
                    return new bootstrap.Toast(toastEl)
                })
                toastList.forEach(toast => toast.show())
            }, 500)
        }
    </script>

{% endblock %}