<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Coupons</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/log-04.png">

    <!-- CSS here -->
    <link rel="stylesheet" href={{ asset('assets/css/plugins.css') }}>
    <link rel="stylesheet" href={{ asset('assets/css/main.css') }}>

    <!-- Page-Revealer -->
    <script src="assets/js/tg-page-head.js"></script>
</head>


<body>


<!-- Scroll-top -->
<button class="scroll__top scroll-to-target" data-target="html">
    <i class="flaticon-right-arrow"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
{{ include('front_components/_header-menu-front.html.twig') }}
<!-- header-area-end -->



<!-- main-area -->
<main class="main--area">

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area" data-background="assets/img/bg/breadcrumb_bg01.jpg">
        <div class="container">
            <div class="breadcrumb__wrapper">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="breadcrumb__content">
                            <h2 class="title">Transform your Score </h2>
                            <nav aria-label="breadcrumb">

                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Your space to earn new coupons!</a></li>
                                </ol>

                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 position-relative d-none d-lg-block">
                        <div class="breadcrumb__img">
                            <img src="{{ asset('assets/img/others/breadcrumb_img02.png') }}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- services-details-area -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
   <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <section class="tournament-area section-pt-120 section-pb-90">
            <div class="container">
                <h2 class="title1">Votre QR CODE du coupon a été généré avec succès!</h2>
                <h3 class="title2">Veuillez le scanner...</h3>
                <div class="row justify-content-center">
                    <img src="assets/img/qr-codes/qrcode.png" alt="QR-CODE" class="qr-code">
                </div>
            </div>
          
  </div>
</div>

                    

            </div>

            </section>

                <style>
             .qr-code {
                 width: 300px;
              }
              .title1 {
                  text-align: center;
                  margin-bottom: 20px;
                
            }
           .title2 {
            text-align: center;
            margin-bottom: 30px;
            color: deeppink;
            font-family: 'arial';
            text-transform: capitalize;
            }


            .share-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-icon-wrapper {
  display: flex;
  align-items: center;
}

.title3 {
  margin-right: 10px;
}

.social-media {
  display: flex;
  align-items: center;
}
</style>


                </style>



    </div>
    <!-- contact-area-end -->



    </div>
    <!-- services-details-area-end -->


    <!-- faq-area-end -->

</main>
<!-- main-area-end -->

<!-- footer-area -->
{{ include('front_components/_footer-front.html.twig') }}


<!-- JS here -->
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from themedox.com/demo/mykd/services-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Mar 2023 22:41:57 GMT -->
</html>