{% block title %}
    <title>Treydi | Leaderboard</title>
{% endblock %}
{% block stylesheet%}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/log-04.png">
    <!-- Icons -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/flag-icons.css') }}" />
    <!-- CSS here -->
    <link rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <style>
        table{
            background-color: #182029;
        }
        .card{
            border: solid #b81d6d 1px;
        }
        .card-header{
            background-color:  #182029/*rgba(184, 29, 109, 1)*/;
        }
    </style>
{% endblock %}
{% block javascript%}


<!-- Page-Revealer -->
    <script src="">

    </script>
{% endblock %}

{%block body%}


<!-- Scroll-top -->
<button class="scroll__top scroll-to-target" data-target="html">
    <i class="flaticon-right-arrow"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
    {{ include('front_components/_header-menu-front.html.twig') }}
<!-- header-area-end -->



<!-- main-area -->
<main class="main--area">

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area" data-background="assets/img/bg/breadcrumb_bg01.jpg">
        <div class="container">
            <div class="breadcrumb__wrapper">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="breadcrumb__content">
                            <h2 class="title" style="font-family: 'United Kingdom'">LEADERBOARD </h2>
                            <nav aria-label="breadcrumb">

                                <ol class="breadcrumb">

                                    <li class="breadcrumb-item"><a href="index.html">Check your coupons </a></li>
                                    <li class="breadcrumb-item"><a href="{{ path('App_Transform') }}">Generate a coupon </a></li>
                                </ol>

                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 position-relative d-none d-lg-block">
                        <div class="breadcrumb__img">
                            <img src="{{ asset('assets/img/others/pngegg.png') }}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- services-details-area -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <div class="content-wrapper">
        <!-- Content -->

        <section class="upcoming-match__area section-pt-120 section-pb-85" data-background="assets/img/bg/match_bg.jpg">

                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-60">
                            <span class="sub-title tg__animate-text">TOP TRADERS</span>
                            <h3 class="title">TRADER LEADERBOARD</h3>
                        </div>
                    </div>
                </div>

        {% for user in users %}
                            <div class="row">

                                <div class="col-12">

                                    <div class="upcoming-match__lists">

                                                <div class="upcoming-match__item tg-svg wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                                    <div class="svg-icon" id="svg-7" >
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1112 150">
                                                            <path id="match-svg" class="cls-1" d="M456,3383l-40,75,40,74h788l12-14,61,1,12,13h158l40-74-40-75-777,1-13,14-62-1-14-14H456Z"
                                                                  transform="translate(-415.5 -3382.5)" style="stroke-dasharray: 2425, 2427; stroke-dashoffset: 0;"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="upcoming-match__position">

                                                        <div class="upcoming-match__team team-left">
                                                            <a href="team-details.html"><img src="{{ asset('assets/img/avatars/1.png') }}" alt="img"></a>
                                                        </div>

                                                        <div class="upcoming-match__content d-flex justify-content-between" style="">
                                                            {% if loop.index == 1 %}
                                                                <img style="height: 10em;" src="{{ asset('assets/img/icons/Season_2022_-_Challenger.png') }}" alt="">
                                                                 <div class="team--info info-left d-flex flex-column justify-content-start" style="">
                                                                      <span class="game-name" style=" text-align: center" >
                                                                   <h3 style="color: goldenrod; font-family: 'United Kingdom'; text-align: center">
                                                                        <span style="font-size: 20px">
                                                                            RANK
                                                                        </span>
                                                                       <span style="color: darkgoldenrod">{{ loop.index }}</span>
                                                                   </h3>
                                                                </span>
                                                            {% elseif loop.index == 2 %}
                                                                <img style="height: 10em;" src="{{ asset('assets/img/icons/Season_2022_-_Silver.png') }}" alt="">
                                                                     <div class="team--info info-left d-flex flex-column justify-content-start" style="">
                                                                          <span class="game-name" style=" text-align: center" >
                                                                   <h3 style="color: silver; font-family: 'United Kingdom'">
                                                                        <span style="font-size: 20px">
                                                                            RANK
                                                                        </span> <span >{{ loop.index }}</span>
                                                                   </h3>
                                                                </span>
                                                            {% elseif loop.index == 3 %}
                                                                <img style="height: 10em;" src="{{ asset('assets/img/icons/Season_2022_-_Bronze.png') }}" alt="">
                                                                         <div class="team--info info-left d-flex flex-column justify-content-start" style="">
                                                                              <span class="game-name" style=" text-align: center" >
                                                                   <h3 style="color: saddlebrown; font-family: 'United Kingdom'">
                                                                        <span style="font-size: 20px">
                                                                            RANK
                                                                        </span> <span style="color: saddlebrown">{{ loop.index }}</span>
                                                                   </h3>
                                                                </span>
                                                            {% else %}
                                                                             <div class="team--info info-left d-flex flex-column justify-content-start" style="">

                                                                <span class="game-name" style=" text-align: start" >
                                                                   <h3 style="color: #b81d6d; font-family: 'United Kingdom'">
                                                                        <span style="font-size: 20px">
                                                                            RANK
                                                                        </span>{{ loop.index }}
                                                                   </h3>
                                                                </span>
                                                            {% endif %}

                                                                <h3 class="name"><a href="team-details.html">{{ user.nom }} {{ user.prenom }}</a></h3>
                                                            </div>

                                                            <div class="upcoming-match__time" style="">
                                                                {#print the for index#}

                                                                <h2 class="time">{{ user.score }}</h2>
                                                            </div>
                                                           {# <div class="team--info info-right" style="border: solid red 2px">
                                                                <span class="game-name">dota2</span>
                                                                <h3 class="name"><a href="team-details.html">The Tadium</a></h3>
                                                            </div>#}
                                                        </div>
                                                    </div>
                                                </div>


                                    </div>

                                </div>

                            </div>
        {% endfor %}

        </section>
    </div>

</main>
<!-- main-area-end -->


<!-- footer-start -->
 {{ include('front_components/_footer-front.html.twig') }}
<!-- footer-start-end -->



<!-- JS here -->
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from themedox.com/demo/mykd/services-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Mar 2023 22:41:57 GMT -->
</html>
{% endblock %}