{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <h1>Authors</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ author.FullName }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ author.DateDeNaissance ? author.DateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ author.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_authors_index') }}">back to list</a>

    <a href="{{ path('app_authors_edit', {'id': author.id}) }}">edit</a>

    {{ include('authors/_delete_form.html.twig') }}
{% endblock %}
