{{ form_start(form2) }}
    <!--star rating-->

    <style>
/*        .ratingStar {
            color: gray;
            font-size: 2em;
            cursor: pointer;
        }
        .grayStar {
            color: gray !important;
            font-size: 2em;
            cursor: pointer;
        }
        .pinkStar {
            color: red !important;
            font-size: 2em;
            cursor: pointer;
        }*/
        /*.rating {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

        }*/

    </style>
    <div id="" data-bs-toggle="tooltip"  data-bs-placement="bottom"  data-bs-custom-class="custom-tooltip" data-bs-title="Rate this article" class="red-tooltip">
        <span class="rating" data-rating="0" >
            {#PRINT FIVE STAR WITH A FOR LOOP EACH STAR HAVING DATA NOTE AS THE LOOP INDEX#}
            {% for i in 1..5 %}
                {#if i < article.avgRating then the star has a 'low' class#}
                {% if i <= article.avgRating %}
                    <i class="fa-solid fa-star star hover " data-checked="true" data-note="{{ i }}"></i>
                {% else %}
                    <i class="fa-solid fa-star star" data-checked="false" data-note="{{ i }}"></i>
                {% endif %}
            {% endfor %}
            {{ article.avgRating }}
 {#           <i class="star ratingStar" data-checked="false" data-note="1">&#9733;</i>
            <i class="star ratingStar" data-checked="false" data-note="2">&#9733;</i>
            <i class="star ratingStar" data-checked="false" data-note="3">&#9733;</i>
            <i class="star ratingStar" data-checked="false" data-note="4">&#9733;</i>
            <i class="star ratingStar" data-checked="false" data-note="5">&#9733;</i>#}
        </span>

    </div>


    {#form widget form rating with disabled attribute#}
{#form2.rating form widget with input value being article.avgRating#}
{{ form_widget(form2.rating, {'attr': {'value': article.avgRating}}) }}
{#<button class="btn" type="submit">chose</button>#}
{{ form_end(form2) }}
