{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .grid-container {
            display: flex;
            justify-content: space-between;
            margin: 0 100px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            padding: 10px;
            border: 1px solid white;
            max-height: 400px;
            max-width: 500px;
            overflow-y: auto;
            min-height: 400px;
            min-width: 500px;
        }

        #grid1 {
            grid-column: 1 / 3;
        }

        #grid2 {
            grid-column: 3 / 5;
        }
    </style>
{% endblock %}

{% block body %}
    <!doctype html>
    <html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Treydi</title>
        <meta name="description" content="eSports and Gaming NFT Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}">

        <!-- CSS here -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

        <!-- Page-Revealer -->
        <script src="{{ asset('assets/js/tg-page-head.js') }}"></script>
    </head>

    <body>

    <div>


        <!-- Scroll-top -->
        <button class="scroll__top scroll-to-target" data-target="html">
            <i class="flaticon-right-arrow"></i>
        </button>
        <!-- Scroll-top-end-->
        {{include('front_components/_header-menu-front.html.twig')}}
        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb__hide-img" data-background="{{ asset('assets/img/bg/breadcrumb_bg02.jpg') }}">
            <div class="container">
                <div class="breadcrumb__wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb__content">
                                <h2 class="title"> Creer un Echange</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Echange</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- contact-area -->
        <!-- contact-area -->
        <section class="contact-area">
            <div class="container">
                {{ form_start(formA, {'attr': {'id': 'formA', 'novalidate': 'novalidate'}}) }}
                <div class="grid-container" style="margin-top: 20px">
                    <div class="text-center">
                        Vos Items
                        <div class="grid" id="grid1">
                            {% for item in user_items %}
                                <div class="shop__item" id="{{ item.id }}">
                                    <div class="shop__item-thumb">
                                        <a><img src="{{ item.getImageurl() }}" alt="img"></a>
                                    </div>
                                    <div class="shop__item-content">
                                        <div class="shop__item-content-top">
                                            <h4 class="title">
                                                <a>{{ item.getLibelle() }}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        Les Items de l'echange que vous voulez créez
                        <div class="grid" id="grid2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-grp"
                 style="text-align: center; margin-top: 10px; margin-left: 550px; margin-right: 550px;">
                {{ form_widget(formA.titre_echange, {'attr': {'class': 'form-control','id':'basic-default-message', 'placeholder': 'Titre Echange'}}) }}
                {{ form_errors(formA.titre_echange) }}
            </div>
            <div style="text-align: center; margin-top: 10px">{{ form_widget(formA.confirmer , {'attr': {'class': 'btn submit-btn'}}) }}</div>
            <input type="hidden" id="items" name="items[]" value="">
            {{ form_end(formA) }}
        </section>
    </div>
    </body>
    </html>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const items = document.querySelectorAll('.shop__item');
            items.forEach(obj => {
                obj.addEventListener('click', moveItem);
            });

            function moveItem(e) {
                const obj = e.target.closest('.shop__item');

                const currentGrid = obj.closest('.grid');

                const otherGrid = currentGrid.id === 'grid1' ? document.querySelector('#grid2') : document.querySelector('#grid1');

                otherGrid.appendChild(obj);

                currentGrid.style.gridTemplateRows = `repeat(${Math.ceil(currentGrid.children.length / 1)}, 1fr)`;
                otherGrid.style.gridTemplateRows = `repeat(${Math.ceil(otherGrid.children.length / 1)}, 1fr)`;
            }


            const form = document.querySelector('#formA');
            form.addEventListener('submit', (e) => {
                e.preventDefault();

                const selectedItems = [];
                const grid2Items = document.querySelectorAll('#grid2 .shop__item');
                grid2Items.forEach(shop__item => {
                    selectedItems.push(shop__item.id);
                });

                if (selectedItems.length === 0) {
                    const errorDiv = document.createElement('div');
                    errorDiv.innerText = "S'il vous plait selectionner au moins un item";
                    errorDiv.style.color = 'red';
                    const grid2Div = document.querySelector('#grid2').parentNode;
                    grid2Div.insertBefore(errorDiv, grid2Div.nextElementSibling);
                }} else {
                    const itemsInput = document.querySelector('#items');
                    itemsInput.value = JSON.stringify(selectedItems);
                    form.submit();
                }
            });
        });
    </script>




    <!-- contact-area-end -->


    <!-- main-area-end -->

    <!-- main-area -->
    <div class="main--area">

        <!-- breadcrumb-area -->

        <!-- footer-start -->
        {{ include('front_components/_footer-front.html.twig') }}
        <!-- footer-start-end -->
        <!-- JS here -->

        <!-- 💁 Include both scripts below to support all browsers! -->

        <!-- Loads <model-viewer> for modern browsers: -->
        <script type="module"
                src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
        </script>

        <!-- Loads <model-viewer> for old browsers like IE11: -->
        <script nomodule
                src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
        </script>

        <script src="{{ asset('assets/js/vendor/jquery-3.6.0.min.js')  }}"></script>
        <script src="{{ asset('assets/js/plugins.js') }}"></script>
        <script src="{{ asset('assets/js/ajax-form.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}