{% extends 'base.html.twig' %}

{% block body %}
    <!doctype html>
    <html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MYKD - eSports and Gaming NFT Template</title>
        <meta name="description" content="eSports and Gaming NFT Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}">

        <!-- CSS here -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

        <!-- Page-Revealer -->
        <script src="{{ asset('assets/js/tg-page-head.js') }}"></script>
    </head>

    <body>
    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
   {{ include('front_components/_header-menu-front.html.twig') }}
    <!-- header-area-end -->
    <!-- main-area-end -->
    <section class="contact-area">
        <div class="container">
            {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="contact__form-wrap">

                        <div class="row g-3">
                            <h4>Modifier Profile</h4>

                            <div class="col-md-6">
                                <label class="form-label" for="multicol-email">Email</label>
                                <div class="input-group input-group-merge">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control','id':'basic-default-fullname', 'placeholder': 'email'}}) }}
                                    {{ form_errors(form.email)}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="multicol-first-name">Nom</label>
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control','id':'basic-default-fullname', 'placeholder': 'nom'}}) }}
                                {{ form_errors(form.nom)}}
                            </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label" for="multicol-last-name">Prenom</label>
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control','id':'basic-default-fullname', 'placeholder': 'prenom'}}) }}
                                {{ form_errors(form.prenom)}}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="multicol-last-name">Adresse</label>
                                {{ form_widget(form.adresse, {'attr': {'class': 'form-control','id':'basic-default-fullname', 'placeholder': 'adresse'}}) }}
                                {{ form_errors(form.adresse)}}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="multicol-last-name">Date Naissance </label>
                                {{ form_label(form.imageFile) }}
                                {{ form_widget(form.imageFile) }}
                                <div class="text-danger">
                                    {{ form_errors(form.imageFile, {'attr': {'class': 'text-danger'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="multicol-last-name">Date Naissance </label>
                                {{ form_widget(form.date_naissance, {'attr': {'class': 'form-control dob-picker', 'id': 'multicol-country', 'data-allow-clear': 'true'}}) }}
                                {{ form_errors(form.date_naissance) }}
                            </div>

                            <div><a href="{{ path('app_edit_pass') }}" class="text">Change password</a></div>
                            <div class="pt-4">
                                <button type="submit" class="btn btn-primary me-sm-3 me-1">Register</button>
                            </div>
                            {{ form_end(form) }}

                            <p class="ajax-response"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- footer-start -->
            {{ include('front_components/_footer-front.html.twig') }}
        <!-- footer-start-end -->
    <!-- JS here -->
    <script src="{{ asset('assets/js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins.js') }}"></script>
    <script src="{{ asset('assets/js/ajax-form.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}