{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Admin | Article{% endblock %}

{% block stylesheets %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/boxicons.css') }}" />
  <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome.css') }}" />
  <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/flag-icons.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Core CSS -->

  <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/core-dark.css') }}" class="template-customizer-core-css" />
  <link rel="stylesheet" href="{{ asset('assets/vendor/css/rtl/theme-default-dark.css') }}" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}" />

  <!-- Vendors CSS -->

  <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}" />
  <link rel="stylesheet" href="{{ asset('assets/vendor/libs/typeahead-js/typeahead.js') }}" />

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  {#SWEET ALERT CSS#}
  <link rel="stylesheet" href="{{ asset('assets/vendor/libs/animate-css/animate.css') }}" />
  <link rel="stylesheet" href="{{ asset('assets/vendor/libs/sweetalert2/sweetalert2.css') }}" />
  <style>
    .table-responsive {
      overflow-x: auto;
    }
    /* custom css that makes the table cell wrap if the text exceeds the cell length*/
    .table-responsive td {
      white-space: normal;
      text-align: justify;
    }
    ::-moz-selection { /* Code for Firefox */
      background: yellow;
    }
    /*can be global*/
    ::selection {
      background: yellow;
    }
    #chose{
      width:25px;
    }

    #article-modal-content:first-child:first-letter{
      color: yellow;
      float: left;
      font-size: 90px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }

/*make the card the width of the screen available*/

  </style>
  <link rel="stylesheet" href="{{ asset('assets/css/rating.css') }}">
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('assets/vendor/js/helpers.js') }}"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
  <script src="{{ asset('public/assets/vendor/js/template-customizer.js') }}"></script>
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="{{ asset('assets/js/config.js') }}"></script>
  <script>

  </script>
{% endblock %}
{% block body %}

<!-- Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe>
  </noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">
    <!-- Menu -->
      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          {{ include('Dashboard_components/_menuDashboard.html.twig') }}
      </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">

      <!-- Navbar -->
        {{ include('Dashboard_components/_navbarDashboard.html.twig') }}
      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">

          <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">


          <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Admin /</span>  Articles
          </h4>
          <a href="{{ path('app_article_new') }}">
            <div class="d-grid gap-2">
              <button class="btn btn-outline-primary">
                <i class='bx bx-book-add'></i> &nbsp;
                Ajouter un article
              </button>
            </div>
          </a>
          {#delay showing toast after page loading#}


          {% for message in app.flashes('delete_message') %}

            {#          <div class="alert alert-success alert-dismissible" role="alert">
              {{ message  }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
#}




          {% endfor %}
          {% for message in app.flashes('update_message') %}

            {#          <div class="alert alert-success alert-dismissible" role="alert">
              {{ message  }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
            #}

            <div class="bs-toast toast toast-ex animate__animated my-2 fade animate__fadeIn bg-success opacity-75" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
              <div class="toast-header">
                <i class='bx bx-check-circle me-2'></i>
                <div class="me-auto fw-semibold">Succées</div>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                {{ message }}
              </div>
            </div>


          {% endfor %}
          {#<hr class="my-5">#}

          <br>
          <div class="card">
            <!-- Hoverable Table rows -->
            {#         <div class="card">
            <div class="row mt-3">
              <div class="d-grid gap-2 col-lg-6 mx-auto">
                <button class="btn btn-outline-primary btn-lg" type="button">Ajouter un article</button>
              </div>
            </div>#}
            <h5 class="card-header">Liste des articles</h5>
            <div class="card-body">
              {{ include('article/_search-form.html.twig') }}
            </div>

            <div class="table-responsive text-nowrap">

              <table class="table table-hover table-responsive">
                <thead>
                <tr>
                  <th> <i class="fas fa-key"></i> Id</th>
                  <th>Titre</th>
                  <th>Description</th>
                  <th>Contenu</th>
                  <th>Date_publication</th>
                  <th>Auteur</th>
                  <th>Avg_rating</th>
                  <th>User</th>
                  <th>Category</th>
                  <th>actions</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for article in articles %}

                  <tr class=" card-action card-expand">
                    <td><strong>{{ article.id }}</strong></td>
                    <td>{{ article.titre }}</td>
                    <td>
                      {{ article.description }}
                    </td>
                    <td>
                      {#<p>
                        <button class="btn btn-sm btn-primary me-1" type="button" data-bs-toggle="collapse" data-bs-target="#Target{{ article.id }}" aria-expanded="true" aria-controls="Target{{ article.id }}">
                          Show full Article content
                        </button>
                      <div class="collapse" id="Target{{ article.id }}">
                        <div class="card card-body">
                          {{ article.contenu }}
                        </div>
                      </div>
                      </p>#}
                      <!-- Modal layout -->
                    </td>
                    <td>
                      {{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}
                    </td>
                    <td>
                      {{ article.auteur }}
                    </td>
                    <td>
                      {{ article.avgRating|rating }}
                    </td>
                    <td>
                      <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-m pull-up" title="{{ article.idUser.nom ~ " " ~ article.idUser.prenom}}">
                          <img src=" {{ article.idUser.avatarUrl }}" alt="Avatar" class="rounded-circle">
                        </li>
                      </ul>
                    </td>
                    {# //TODO::  if categorie is archived add background color gray#}

                    <td><span class="badge bg-label-success me-1">{{ article.idCategorie }}</span></td>
                    <td>
                      <div class="crud-icons-layout">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn rounded-pill btn-xs btn-label-info" data-bs-toggle="modal" data-bs-target="#Target{{ article.id }}" style="font-size: 10px">
                          <i class='bx bx-expand-alt'></i>
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="mt-3">

                          <!-- Modal -->
                          <div class="modal fade" id="Target{{ article.id }}" tabindex="-1" style="display: none; " aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document" {#style="border:solid red 2px; "#}>
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3 class="modal-title" id="modalCenterTitle">{{ article.titre }}</h3>

                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #e83e8c; color: white !important;"></button>
                                </div>
                                <div class="modal-header">
                                  {{ article.auteur }}
                                  <i>{{ article.datePublication|date('d-M-Y') }}</i>
                                </div>
                                <div class="modal-body">
                                  <img src="{{ vich_uploader_asset(article,'imageFile') }}" alt="">
                                  <p id="article-modal-content">
                                    {{ article.contenu|raw }}
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--/ Modal -->
                        <!-- Modal layout -->
                        <div class="dropdown">

                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical"></i></button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_article_edit', {'id': article.id}) }}">
                              <button class="btn" ><i class="bx bx-edit-alt me-1"></i>Edit</button>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);">
                              {{ include('article/_delete_form.html.twig') }}
                            </a>
                          </div>
                      </div>


                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <!--/ Hoverable Table rows -->

      </div>
    </div>
  </div>
</div>
</div>


          <!-- Core JS -->
          <!-- build:js assets/vendor/js/core.js -->
          <script src="{{ asset('/assets/vendor/libs/jquery/jquery.js') }}"></script>

          <script src="{{ asset('/assets/vendor/libs/popper/popper.js') }}"></script>

          <script src="{{ asset('/assets/vendor/js/bootstrap.js') }}"></script>

          <script src="{{ asset('/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

          <script src="{{ asset('/assets/vendor/libs/hammer/hammer.js') }}"></script>

          <script src="{{ asset('/assets/vendor/libs/i18n/i18n.js') }}"></script>

          <script src="{{ asset('/assets/vendor/libs/typeahead-js/typeahead.js') }}"></script>

          <script src="{{ asset('/assets/vendor/js/menu.js') }}"></script>

          <!-- endbuild -->

          <!-- Vendors JS -->

          <script src="{{ asset('assets/vendor/libs/moment/moment.js') }}"></script>
{#          <script src="{{ asset('assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js') }}"></script>#}
          <script src="{{ asset('assets/vendor/libs/select2/select2.js') }}"></script>
          <script src="{{ asset('assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js') }}"></script>
          <script src="{{ asset('assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js') }}"></script>
          <script src="{{ asset('assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js') }}"></script>
          <script src="{{ asset('assets/vendor/libs/cleavejs/cleave.js') }}"></script>
          <script src="{{ asset('assets/vendor/libs/cleavejs/cleave-phone.js') }}"></script>
          {#SWEET ALERTS FOR DELETE#}
          <script src="{{ asset('assets/vendor/libs/sweetalert2/sweetalert2.js') }}"></script>
          <!-- Main JS -->
          <script src="{{asset('/assets/js/maindash.js') }}"></script>
{#          <script src="{{ asset('assets/css/rating.js') }}"></script>#}
          <!-- Page JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
            {#SWEET ALERTS JS #}
  <script src="sweetalert2.all.min.js"></script>
          <!-- Page JS -->
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

          <script>
            $.fn.dataTable.ext.errMode = 'throw';

          </script>

          <script>
            window.onload = function() {
              setTimeout(function() {
                var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                var toastList = toastElList.map(function (toastEl) {
                  return new bootstrap.Toast(toastEl)
                })
                toastList.forEach(toast => toast.show())
              }, 500)
            }
          </script>

          {% endblock %}
